html, body {
    height:100%;
    margin:0;
}
#root {
    height: 100%;
}
.mycontainer {
    height: 100%;
}
.main-container {
    height:calc(100% - 86px);
    display:flex;
    flex-direction: row;
    align-content: stretch;
}

.left {
    width:20%;
}
.middle {
    width:30%;
}
.spark-listings{
    height: 100%;
    overflow-y: auto;
}

.right {
    flex:1;
    position:relative;
}

.child {
    position:absolute;
    width:100%;
    height:100%;    
}

.scrollable {
     overflow-y:auto;
}
.frame-container{
    width: 100%;
    height: calc(100% - 70px);
    border: 1;
}

.homeLeft{
    width: 50%;
}
.homeRight{
    flex:1;
    position:relative;
}
.homeFrame{
    width: 50%
}
